body {
    background-image: url('img/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: cover;
  }


#wetter{
    margin-left: 17%;
    position:relative;
    margin-top: 50px;
}

#root{
    
    width: 500px;
    height: 310px;
    margin-left: 57%;
    position:relative;
    margin-top: -310px;
    text-align: center;
    font-size: xx-large;   
}

.btn{
    font-size: x-large;  
    display: block; margin: 0 auto
}


#camera{

    margin: 0 auto; 
    width:700px; 
    height:600px;
    background-color: brown;
}





